<h1>Plot Device</h1>

<div class="grid-container">
  <table class="grid">
    <tr>
      <td></td>
      <td></td>
      <td><app-card [card]="helper" description="조력자"></app-card></td>
      <td></td>
    </tr>
    <tr>
      <td><app-card [card]="protagonistPast" description="주인공의 과거"></app-card></td>
      <td><app-card [card]="protagonistPresent" description="주인공의 현재"></app-card></td>
      <td><app-card [card]="protagonistNearFuture" description="주인공의 가까운 미래"></app-card></td>
      <td><app-card [card]="ending" description="결말 (목적)"></app-card></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><app-card [card]="enemy" description="적"></app-card></td>
      <td></td>
    </tr>
  </table>
</div>

<button (click)="shuffle()" class="btn">섞기</button>

<div class="footer">
  <p>
    <a href="https://ridibooks.com/v2/Detail?id=754019863" target="_blank">이야기 체조</a>,
    오쓰카 에이지 저, 선정우 역
  </p>
</div>
